body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}


header{
    width: 92%;
    height: 60px;
}

header nav {
    /* Justificar a la derecha */
    display: flex;
    justify-content: flex-end;
}

header nav .nav-right-section {
    width: 30px;
    /* Eliminar puntitos */
    list-style: none;
    /* Propiedad flex - sea responsivo y flexible */
    display: flex;
    justify-content: center;
    /* Centrado verticalmente */
    align-items: center;
    height: auto;
}

a {
    text-decoration: none;
}

nav .nav-right-section a {
    margin-right: 25px;
    color: rgb(0, 0, 0, .87);
}

nav .nav-right-section a:hover {
    text-decoration: underline;
}

nav .nav-right-section .menu {
    background-image: url(https://img.icons8.com/ios-glyphs/90/000000/circled-menu.png);
    width: 20px;
    height: 20px;
    /* Escala la imagen al mayor tamaño posible sin recortarla ni estirarla. */
    background-size: contain;
}

nav .nav-right-section img {
    width: 35px;
    height: 35px;
    margin-left: 20px;
    border-radius: 30px;
}



/***********************************/
/* BUSCADOR */
/***********************************/

main {
    margin-top: 15px;
    text-align: center;
}

main .main-logo {
    width: 530px;
    margin: 0 auto;
    margin-bottom: 25px;
}

main .main-logo img {
    height: 92px;
}

main .main-input {
    width: 530px;
    margin: 0 auto;
}

main .main-input-container {
    border: 1px solid #dfe1e5;
    width: 525px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}

main .main-input input {
    border: none;
    height: 40px;
    outline: none;
    width: 480px;
}

main .main-input-container:hover {
    border-color: #dfe1e500;
    box-shadow: 0 1px 6px 0 #20212447;
    cursor: pointer;
}

main .main-input .search-icon {
    background-image: url(https://seekicon.com/free-icon-download/search_20.svg);
    height: 14px;
    padding-left: 4%;
    background-repeat: no-repeat;
}

/* Aquí va el micro icon */

/* Aquí va el cam icon */

main .main-buttons {
    width: 530px;
    margin: 0 auto;
}

main .main-buttons div {
    display: inline-block;
}

main .main-buttons button {
    border: none;
    background-color: #f8f9fa;
    font-size: 14px;
    color: #3c4043;
    height: 40px;
    border-radius: 4px;
    padding: 0 16px;
    margin: 0 4px;
}

main .main-buttons button:hover {
    box-shadow: 0 0 2px 0 #3c4043;
    cursor: pointer;
}

.mexico {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: #70757a;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f2f2f2;
    margin-top: 203px;
}

footer ul {
    list-style: none;
    font-size: 14px;
    color: #70757a;
    justify-content: space-evenly;
    display: flex;
    padding: 0 20px;
    margin: 0 10px;
}

footer .container-links {
    display: flex;
    font-size: 14px;
    color: #70757a;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 15px 0;
}

.footer1 li {
    margin-right: 30px;
}

.footer2 li {
    margin-right: 30px;
}

footer .container-links a {
    color: #70757a;
}

footer .container-links a:hover {
    cursor: pointer;
    text-decoration: underline;
}